# Dependencies
node_modules/
yarn-error.log
yarn-debug.log

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build
dist/
build/
.cache/